* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../images/Old-TV-PNG.png);
  z-index: 2;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom; 
  width: 1080px;
  margin: 0 auto;
}

h1{
  font-size: 60px;
  font-family: 'Barrio', cursive;
  padding: 0;
  margin: 0;
  color:orange;
  text-align: center;
}

button {
  margin: 4px;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 10px;

}

#container{
  background: palevioletred;
  padding: 20px;
  margin-top: 10px;
  border-radius: 20px;
}

#button-holder{
  font-family: 'Bangers', cursive;
  font-size: 25px;
  text-align: center;
  margin: 10px;
  padding: 10px;
}

#search-holder{
  font-family: 'Bangers', cursive;
  font-size: 45px;
  text-align: right;
}

#gif-holder{
  text-align: center;
  margin-top: 60px;
}

img {
  height: 280px;
  width: 350px;
  border-radius: 25px;
  margin-right: 200px;
  margin-left:  90px;
  margin-bottom: 80px;
  z-index: 1;
} 

figure{
  width: 400px;
}

#submit, #clear {
  text-align: center;
}

